body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* .signup-container {
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
} */





.close-btn {
  cursor: pointer;
  font-size: 24px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.name-fields {
  display: flex;
  gap: 10px;
}

.name-fields input {
  flex: 1;
}

.error-message {
  color: #ff6b6b;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.dob-field {
  margin-bottom: 5px;
}

.dob-inputs {
  display: flex;
  gap: 10px;
}

.dob-inputs select {
  flex: 1;
}

.dob-error {
  color: #ff6b6b;
  font-size: 12px;
  border: 1px solid #ff6b6b;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.gender-field p {
  margin-bottom: 5px;
  font-size: 11px;
}

.gender-options {
  display: flex;
  gap: 10px;
}

.gender-options label {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.terms {
  font-size: 12px;
  color: #777;
  margin: 15px 0;
}

.form-buttons {
  display: flex;
  gap: 5px;
}

.signup-btn,
.cancel-btn {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.signup-btn {
  background-color: #3d5a80;
  color: white;
}

.cancel-btn {
  background-color: red;
  color: white;
}
